<a href="https://colab.research.google.com/github/arkB/nlp100/blob/master/nlp100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第1章: 準備運動


## 00. 文字列の逆順¶
文字列"stressed"の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ

In [0]:
string = "stressed"
print(string[::-1])

desserts

## 01. 「パタトクカシーー」
「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ．

In [0]:
string = "パタトクカシーー"
print(string[::2])

パトカー

## 03. 円周率
"Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ．

In [0]:
string = 'Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics.'
print([len(w.strip(',.')) for w in string.split()])

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

## 04. 元素記号
"Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭に2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ．

In [0]:
string = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
num_one = [1, 5, 6, 7, 8, 9, 15, 16, 19]
{w[0:1 if i+1 in num_one else 2]:i+1 for i, w in enumerate(string.split())}

{'Al': 13,
 'Ar': 18,
 'B': 5,
 'Be': 4,
 'C': 6,
 'Ca': 20,
 'Cl': 17,
 'F': 9,
 'H': 1,
 'He': 2,
 'K': 19,
 'Li': 3,
 'Mi': 12,
 'N': 7,
 'Na': 11,
 'Ne': 10,
 'O': 8,
 'P': 15,
 'S': 16,
 'Si': 14}

## 05. n-gram
与えられたシーケンス（文字列やリストなど）からn-gramを作る関数を作成せよ．この関数を用い，"I am an NLPer"という文から単語bi-gram，文字bi-gramを得よ．

In [0]:
def make_n_gram(seq, n):
    return [seq[i:i+n] for i in range(len(seq)-1)]

In [0]:
string = "I am an NLPer"
print(make_n_gram(string.split(), 2))

[['I', 'am'], ['am', 'an'], ['an', 'NLPer']]

In [0]:
print(make_n_gram(string, 2))

['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']

## 06. 集合
"paraparaparadise"と"paragraph"に含まれる文字bi-gramの集合を，それぞれ, XとYとして求め，XとYの和集合，積集合，差集合を求めよ．さらに，'se'というbi-gramがXおよびYに含まれるかどうかを調べよ．

In [0]:
strings = ["paraparaparadise", "paragraph"]
X = make_n_gram(strings[0], 2)
Y = make_n_gram(strings[1], 2)
print(X)
print(Y)

['pa', 'ar', 'ra', 'ap', 'pa', 'ar', 'ra', 'ap', 'pa', 'ar', 'ra', 'ad', 'di', 'is', 'se']
['pa', 'ar', 'ra', 'ag', 'gr', 'ra', 'ap', 'ph']

In [0]:
set_X = set(X)
set_Y = set(Y)

print(set_X | set_Y)
print(set_X & set_Y)
print(set_X - set_Y)
print(set_Y - set_X)

{'di', 'pa', 'is', 'gr', 'ph', 'ad', 'ar', 'ra', 'se', 'ap', 'ag'}
{'ap', 'ar', 'ra', 'pa'}
{'se', 'di', 'ad', 'is'}
{'gr', 'ph', 'ag'}

In [0]:
print('se' in X)

True

In [0]:
print('se' in Y)

False

## 07. テンプレートによる文生成
引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ．さらに，x=12, y="気温", z=22.4として，実行結果を確認せよ．

In [0]:
def generate_sentence(x, y, z):
    return "{}時の{}は{}".format(x, y, z)

In [0]:
generate_sentence(x=12, y="気温", z=22.4)

'12時の気温は22.4'

## 08. 暗号文
与えられた文字列の各文字を，以下の仕様で変換する関数cipherを実装せよ．

英小文字ならば(219 - 文字コード)の文字に置換
その他の文字はそのまま出力
この関数を用い，英語のメッセージを暗号化・復号化せよ．

In [0]:
def encode(string):
    return "".join(chr(219 - ord(c)) if c.islower() else c for c in string)

In [0]:
# 金の貸し借りをしてはならない。金を貸せば金も友も失う。金を借りれば倹約が馬鹿らしくなる。※ハムレットより引用
text = 'Neither a borrower nor a lender be; For loan oft loses both itself and friend, And borrowing dulls the edge of husbandry.'

In [0]:
encoded_text = encode(text)
decoded_text = encode(encoded_text)
print(encoded_text)
print(decoded_text)

Nvrgsvi z yliildvi mli z ovmwvi yv; Fli olzm lug olhvh ylgs rghvou zmw uirvmw, Amw yliildrmt wfooh gsv vwtv lu sfhyzmwib.
Neither a borrower nor a lender be; For loan oft loses both itself and friend, And borrowing dulls the edge of husbandry.

## 09. Typoglycemia
スペースで区切られた単語列に対して，各単語の先頭と末尾の文字は残し，それ以外の文字の順序をランダムに並び替えるプログラムを作成せよ．ただし，長さが４以下の単語は並び替えないこととする．適当な英語の文（例えば"I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."）を与え，その実行結果を確認せよ．

In [0]:
import random
string = "I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
typoglycemia_sort = lambda w: w[0] + "".join(random.sample(w[1:-1], len(w)-2)) + w[-1]
print(" ".join(map(lambda w: typoglycemia_sort(w) if len(w) > 4 else w, string.split())))

I c'ndulot blievee that I culod alulacty uandnretsd what I was rieadng : the pmhannoeel power of the huamn mind .

# 第2章: UNIXコマンドの基礎
hightemp.txt は，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txt を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
from google.colab import files
uploaded = files.upload()

Saving hightemp.txt to hightemp.txt

In [0]:
# Python
num_lines = sum(1 for line in open('hightemp.txt'))
print(num_lines)
# Unix Command
!wc -l hightemp.txt

24
24 hightemp.txt

# 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [0]:
for line in open('hightemp.txt'):
  print(line.replace('\t', ' '))
!sed -e 's/\t/ /g' hightemp.txt

高知県 江川崎 41 2013-08-12

埼玉県 熊谷 40.9 2007-08-16

岐阜県 多治見 40.9 2007-08-16

山形県 山形 40.8 1933-07-25

山梨県 甲府 40.7 2013-08-10

和歌山県 かつらぎ 40.6 1994-08-08

静岡県 天竜 40.6 1994-08-04

山梨県 勝沼 40.5 2013-08-10

埼玉県 越谷 40.4 2007-08-16

群馬県 館林 40.3 2007-08-16

群馬県 上里見 40.3 1998-07-04

愛知県 愛西 40.3 1994-08-05

千葉県 牛久 40.2 2004-07-20

静岡県 佐久間 40.2 2001-07-24

愛媛県 宇和島 40.2 1927-07-22

山形県 酒田 40.1 1978-08-03

岐阜県 美濃 40 2007-08-16

群馬県 前橋 40 2001-07-24

千葉県 茂原 39.9 2013-08-11

埼玉県 鳩山 39.9 1997-07-05

大阪府 豊中 39.9 1994-08-08

山梨県 大月 39.9 1990-07-19

山形県 鶴岡 39.9 1978-08-03

愛知県 名古屋 39.9 1942-08-02

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

#12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [0]:
file1 = open('col1.txt', 'w')
file2 = open('col2.txt', 'w')
for line in open('hightemp.txt'):
  lines = line.split('\t')
  file1.write(lines[0]+'\n')
  file2.write(lines[1]+'\n')
file1.close()
file2.close()
print('col1.txt')
for line in open('col1.txt'):
  print(line)

print('col2.txt')
for line in open('col2.txt'):
  print(line)

!cut -f 1 hightemp.txt
!cut -f 2 hightemp.txt

col1.txt
高知県

埼玉県

岐阜県

山形県

山梨県

和歌山県

静岡県

山梨県

埼玉県

群馬県

群馬県

愛知県

千葉県

静岡県

愛媛県

山形県

岐阜県

群馬県

千葉県

埼玉県

大阪府

山梨県

山形県

愛知県

col2.txt
江川崎

熊谷

多治見

山形

甲府

かつらぎ

天竜

勝沼

越谷

館林

上里見

愛西

牛久

佐久間

宇和島

酒田

美濃

前橋

茂原

鳩山

豊中

大月

鶴岡

名古屋

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

# 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [0]:
N = 10
for i, line in enumerate(open('hightemp.txt')):
  print(line)
  if i == N-1:
    break

!head -n 10 hightemp.txt

高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

山梨県	甲府	40.7	2013-08-10

和歌山県	かつらぎ	40.6	1994-08-08

静岡県	天竜	40.6	1994-08-04

山梨県	勝沼	40.5	2013-08-10

埼玉県	越谷	40.4	2007-08-16

群馬県	館林	40.3	2007-08-16

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

# 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [0]:
N = 3
num_lines = sum(1 for line in open('hightemp.txt'))
for i, line in enumerate(open('hightemp.txt')):
  if num_lines-3 <= i:
    print(line)
    
!tail -n 3 hightemp.txt

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [0]:
N = 3
num_lines = sum(1 for line in open('hightemp.txt'))
num = num_lines / N
for j in range(N):
  file = open('file' + str(j) + '.txt', 'w')
  for i, line in enumerate(open('hightemp.txt')):
    if j*num <= i < (j+1)*num:
      file.write(line)
  file.close()
!ls
!head -n 10 file0.txt
!head -n 10 file1.txt
!head -n 10 file2.txt
!split -l 8 hightemp.txt
!ls
!head -n 10 xaa
!head -n 10 xac
!head -n 10 xab

col0.txt  col2.txt   file1.txt	hightemp.txt  xaa  xac
col1.txt  file0.txt  file2.txt	sample_data   xab
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
col0.txt  col2.txt   file1.txt	hightemp.txt  xaa  xac
col1.txt  file0.txt  file2.txt	sample_data   xab
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03

#17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [0]:
types_of_words = set()
for line in open('hightemp.txt'):
  lines = line.split('\t')
  types_of_words.add(lines[0])
print(types_of_words)

!cut --fields=1 hightemp.txt | sort | uniq

{'群馬県', '千葉県', '静岡県', '埼玉県', '愛媛県', '高知県', '岐阜県', '愛知県', '山梨県', '大阪府', '和歌山県', '山形県'}
千葉県
和歌山県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県

#18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [7]:
file = 'hightemp.txt'
lines = open(file).readlines()
lines.sort(key=lambda line: float(line.split('\t')[2]), reverse=True)

for line in lines:
    print(line, end='')
!echo "--------------"
!sort hightemp.txt --key=3,3 --numeric-sort --reverse

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
--------------
高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
愛知県	名古屋	39.9	1942-08-02
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11

#19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [11]:
from collections import Counter
words = []
for line in open('hightemp.txt'):
  lines = line.split('\t')
  words.append(lines[0])

counter = Counter(words)
for word, cnt in counter.most_common():
    print(word, cnt)

埼玉県 3
山形県 3
山梨県 3
群馬県 3
岐阜県 2
静岡県 2
愛知県 2
千葉県 2
高知県 1
和歌山県 1
愛媛県 1
大阪府 1